.header2{
    display: flex;
    background-color: rgb(37,37,41);
    
    width: 100%;
    padding: 20px;
    border:0.1px solid rgb(66, 66, 66);
    justify-content: space-evenly;
    margin-top: -20px;

 
}
@media only screen and (min-width: 600px) {
    .header2{
        display: none;
    }
    
}