.App {
  display: flex;
  flex-direction: row;       
  height:100vh !important;
  width: 100vw !important; 
  flex: 1;

  background-color: rgb(59, 59, 61);

}
.app_2_header2{
  display: none !important;
}

.app_2{
  flex:1;
  display:flex;
  flex-direction: column;
  max-width: 100vw !important;
  

}
.intro_image{
  height: 100px;
  object-fit: contain;
}

/* used media queries for all devices less tham 600px width to make the website responsive*/

@media only screen and (max-width: 600px) {
  .App {
    flex: 1;
    background-color: rgb(59, 59, 61);
    overflow-x:hidden;
    max-width: 100vw;
  
  }
  .app_2{
    flex:1;
    display:flex;
    flex-direction: column;
    max-width: 100vw !important;
  }
  
}
@media only screen and (min-width: 600px) {
  .app_2{
    flex:1;
    display:flex;
    flex-direction: column;
    max-width: 100vw !important;
    padding: 20px;
    
  
  }
  
  
  
}

